
body{
background: linear-gradient( red);

}

.leads {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.95rem;
  color:#dc3545;
}

.form-control{
  font-size: x-large;
  border-radius: 30px;
  box-sizing: border-box
} 
.buttontext{
 color: rgb(236, 236, 223);
  font-family: sans-serif;


}




